<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixth.soul_trail.mapper.DiaryKeywordMapper">

    <select id="selectWordCloud" resultType="com.sixth.soul_trail.VO.WordCloudVO">
        SELECT dk.word AS word, COUNT(*) AS value
        FROM diary_keyword dk
                 JOIN diary d ON dk.diary_id = d.id
        WHERE d.user_id = #{userId}
        GROUP BY dk.word
        HAVING COUNT(*) >= 3
        ORDER BY value DESC
        LIMIT 50
    </select>

</mapper>