<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sixth.soul_trail.mapper.UserMapper">

    <!-- 根据用户名查询 -->
    <select id="selectByUsername" resultType="User">
        select * from user where username = #{username}
    </select>

    <select id="selectById" resultType="User">
        select * from user where id = #{id}
    </select>

    <!-- 新增用户 -->
    <insert id="insert">
        insert into user (username,password)
        values (#{username},#{password})
    </insert>
    <!--修改密码-->
    <update id="updatePassword">
        update user set password = #{password},updated_at = now() where id = #{id}
    </update>
<!--    修改昵称-->
    <update id="updateNickname">
        update user set nickname = #{nickname}, updated_at = now() where id = #{id}
    </update>
    <update id="updateAvatar">
        update user set avatar_url = #{avatarUrl}, updated_at = now() where id = #{id}
    </update>

</mapper>